.nav-link {
    font-style: arial;
    color: black;
}

.parrafo {
    color: black;
    text-align: center;
}

.imagen {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    display: block;
    margin: auto;
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";