:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --black: hsl(0, 0%, 0%);
}

.container-cards {
    display: flex;
    align-items: center;
}

.container-cards-img {
    border-radius: 100px;
    width: 500px;
    height: 500px;
}

.container-cards-text {
    margin: 15px;
    font-family: fantasy;
    align-self: center;
}

@import "../node_modules/bootstrap/scss/bootstrap";