<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro alumnos</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <div id="appAlumnos" class="container-fluid">
            <form  v-on:submit.prevent="guardaraalumno" v-on:reset.prevent="limpiar">
                <div class="row">
                    <div class="col-sm-5">
                        <div class=row p-2>
                            <div class="col-sm text-center text-white bg-primary">
                                <h5>Registro Alumnos</h5>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm" >Codigo:</div>
                                <div class="col-sm">
                                    <input v-model="alumno.codigo"  type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row p-2">
                                 <div class="col-sm">Nombre:</div>
                                 <div class="col-sm">
                                    <input v-model="alumno.nombre"  type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm">Direccion:</div>
                                <div class="col-sm">
                                    <input v-model="alumno.direccion"  type="text" class="form-control form-control-sm">
                                </div>
                            </div>    
                          <div class="row p-2">
                            <div class="col-sm">Municipio:</div>
                            <div class="col-sm">
                                <input v-model="alumno.municipio"  type="text" class="form-control form-control-sm">
                             </div>
                           </div>
                           <div class="row p-2">
                               <div class="col-sm">Departamento:</div>
                               <div class="col-sm">
                                    <input v-model="alumno.departamento"  type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                             <div class="row p-2">
                                <div class="col-sm">Telefono:</div>
                                <div class="col-sm">
                                    <input v-model="alumno.telefono"  type="text" class="form-control form-control-sm">
                                </div>
                            </div>         
                            <div class="row p-2">
                                <div class="col-sm">Fecha de Nacimiento:</div>
                                <div class="col-sm">
                                    <input v-model="alumno.fecha" type="date" class="from-control from-control-sm">
                                </div>
                            </div>
                           <!-- <div class="row p-2"><--aqui se coloca el sexo por medio de caracteres
                                <div class="col-sm">Sexo</div>
                                <div class="col-sm">
                                    <input v-model="alumno.sexo" class="from-control from-control-sm">    
                                </div>
                            </div>-->
                            <div class="row p-2">
                                <div class="col-sm">Sexo:</div>
                                <div class="col-sm">
                                    <select v-model="alumno.sexo" class="form-control">

                                        <option>Masculino</option>
                
                                        <option>Femenino</option>
                
                                        <option>Otro</option>
                
                                        </select>
                                </div>
                                </div>
                            </div>
                            <div class="row -p-2">
                            <div class="col-sm text-center">
                                <input type="submit" value="Guardar" class="btn btn-dark">
                                <input type="reset" value="Limpiar" class="btn btn-warning"> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table class="tble table-sm">
                                    <thead>
                                        <tr>
                                            <th>CODIGO</th>
                                            <th>NOMBRE</th>
                                            <th>DIRECCION</th>
                                            <th>MUNICIPIO</th>
                                            <th>DEPARTAMENTO</th>
                                            <th>TELEFONO</th>
                                            <th>NACIMIENTO</th>
                                            <th>SEXO</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="alumn in alumnos" v-on:click="mostraralumnos(alumn)">
                                            <td>{{ alumn.codigo }}</td>
                                            <td>{{ alumn.nombre }}</td>
                                            <td>{{ alumn.direccion }}</td>
                                            <td>{{ alumn.municipio }}</td>
                                            <td>{{ alumn.departamento }}</td>
                                            <td>{{ alumn.telefono }}</td>
                                            <td>{{ alumn.fecha }}</td>
                                            <td>{{ alumn.sexo }}</td>
                                            <td><input v-on:click="Eliminar(alumn.id)" type="button" value="Eliminar" class="btn btn-danger" ></td>
                                            <td><input v-on:click="Modificar(alumn.id)" type="button" value="Modificar" class="btn btn-outline-secondary"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div>             
            </form>       
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>